.logo {
  height: 30px;
  width: auto;
  margin-bottom: -5px;
  margin-right: 10px;
}

img.avatar {
  box-shadow: 1px 1px 4px #c8c8c8;
  border: 1px solid #b7b7b7;
  border-radius: 50%;
}
div.avatar {
  display: inline-block;
  float: left;
  margin-right: 10px;
}

p.updatedBy {}

.prNumber {
  display: inline-block;
  color: #BBB;
}

.tools {
  box-shadow: 0 0 4px #c8c8c8;
}
.pf-c-tabs {
  background: rgb(240, 240, 240) !important;
}

#app, #main, .pf-c-page__main, .pf-c-page {
  height: 100%;
  min-width: 100%;
}

.filterSaveTb {
  position: absolute;
  right: 16px;
  display: table;
}

.filterSaveTb input {
  width: 200px;
}

.filterSaveTb .filterSavePart {
  display: table-cell
}

.saveInput,
.pf-c-button.saveIcon,
.pf-c-button.cancelIcon {
  transition: ease-in-out 250ms;
  opacity: 0;

  &
}
.saveInput.visible,
.pf-c-button.saveIcon.visible,
.pf-c-button.cancelIcon.visible {
  opacity: 1
}

.saveLabel {
  font-weight: bold;
}

.pf-c-button.saveIcon,
.pf-c-button.cancelIcon {
  padding: 0 .5em;
}

.pf-c-label.mainLabel {
  transition: ease-in-out 250ms;
  padding: .5em 1em;
  min-width: 2.5em;
}

.pf-c-label.popOutLabel {
  transition: ease-in 250ms;
  padding-right: 0;
  padding-left: 1em;
  margin-right: -30px;
}

.withPopOut .pf-c-label.mainLabel {
  padding: .5em 1em;
  font-weight: bold;
}

.withPopOut .pf-c-label.popOutLabel {
  padding-right: 45px;
  margin-right: -35px;
}
